@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* text styling */

.RapperAboutInfo {
    background-color: rgb(37, 37, 37);
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    width: 700px;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.nameAuthor {
    background-color: #555;
    color: whitesmoke;
    border-radius: 4px;
    padding: 5px;
}

p.skills,
p.code,
p.education {
    color: white;
    font-weight: bold;
    font-family: cursive;
    text-decoration: underline;
}

.title-section {
    background-color: #555;
    color: whitesmoke;
    border-radius: 4px;
    padding: 5px;
    width: 140px;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapperSkills, 
.wrapperCode, 
.wrapperEducation {
    border: 2px solid white;
    padding: 10px;
    width: 400px;
}


.wrapperHobbie {
    display: flex;
}

/* element styling */

footer {
    font-size: 10px;
    text-decoration: underline;
    color: white;
}

i {
    font-size: 10px;
    color: white;
    padding: 10px;
}