@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* global styling */

footer {
    font-size: 10px;
    color: white;
    text-decoration: underline;
}

/* text styling */
h4, p, h1, h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

p.saying {
    color: lightgrey;
    margin-left: 42%;
    padding: 0;
    font-size: large;
}

.page-title {
    font-weight: bold;
    font-size: 40px;
    font-family: cursive;
    margin: 0;
    padding: 0;
    margin-left: 40%;
}


/* image styling */
.imgMATH4MATH {
    width: 430px;
    border: 2px black solid;
    float: left;
    margin-right: 10px;
}


.IMG2 {
    width: 430px;
    border: 2px black solid;
    float: left;
    margin-right: 10px;
}

img {
    border-radius: 50px;
}

